<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IG_Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        function setErrorById(id, errorMsg) {
            document.getElementById(id).innerText = errorMsg;
        }
    </script>
</head>
<body>

    @{
        var token = HttpContextAccessor.HttpContext.Session.GetString(Constant_Login.LOGINTOKEN);
    }
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav ml-auto flex-grow-1">
                        @if (token != null && token.Length > 0)
                        {
                            <li class="ml-80">
                                <div class="dropdown">
                                    <button class="btn btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-circle" style="color:lawngreen" aria-hidden="true"></i>
                                        Tùy chọn
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" data-target="#changeServiceModal" data-toggle="modal" href="#">Chuyển tài khoản</a>
                                        <a class="dropdown-item" data-target="#logoutModal" data-toggle="modal" href="#">Đăng xuất</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="text-center">
            <h1 class="display-4">
                <img style="width:200px;height:100px" src="~/assets/images/logo.png" />
            </h1>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_ChangeServicePartial" />
    <partial name="_LogoutPartial" />


    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
