
<div id="readmeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title float-left"> Hướng dẫn sử dụng hệ thống</h4>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div style="width:100%">
                            <div class="card card-signin my-5">
                                <div class="card-body">
                                    <div class="text-center">
                                        <p>Passcode đăng nhập cho dịch vụ vệ sinh là : vesinh@@#</p>
                                        <p>Passcode đăng nhập cho dịch vụ bảo vệ là : baove@@#</p>
                                        <p>sau khi đăng nhập , click vào tùy chọn > xem đánh giá để xem tất cả đánh giá hiện tại.</p>
                                        <p>Link repo của bài test : https://github.com/PhatLTSE62882/IG_Test</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
