@model List<IG_Service>
@{
    ViewData["Title"] = "Home Page";
}
    <div class="bg-image">
        <h1 class="text-center">ĐÁNH GIÁ CHẤT LƯỢNG DỊCH VỤ</h1>
        <h5 class="text-center">KHẢO SÁT CHẤT LƯỢNG DỊCH VỤ TẠI ALT IELTS GIA SƯ</h5>
        <div class="text-center">
            <a class="btn btn-danger" asp-action="Login" asp-controller="Account">Bắt đầu sử dụng</a>
        </div> 
        <div class="text-center">
            <img src="~/assets/images/group-people.svg" style="height:300px;margin-top:100px" />

        </div>
    </div>

