@model List<IG_Service>
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5" style="background-color:darkred">
                <div class="card-body">
                    <div class="text-center">
                        <img style="height:50px;width:50px" src="~/assets/images/login/arrow-button.png" />
                    </div>
                    <h5 class="card-title text-center" style="color:whitesmoke">Đăng nhập</h5>

                    <form class="form-signin">
                        <div class="form-label-group">
                            <label for="inputPassword" style="color:whitesmoke">Passcode</label>
                            <div class="row">
                                <div class="col-md-11">
                                    <input type="password" id="inputPassword" class="form-control" placeholder="" required>
                                </div>
                                <div class="col-md-1">
                                    <i class="fa fa-eye-slash" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                        <p style="color:red" id="passcode-error"></p>
                        <br>
                        <br>

                        <label style="color:whitesmoke"><strong>Chọn loại dịch vụ</strong></label>
                        <div class="row">
                            @foreach (var item in Model)
                            {
                                <div class="col-md-5 text-center pointer border-service"
                                     onclick="chooseService('@item.serviceCode')"
                                     data-id="@item.serviceCode">
                                    <img src="~/@item.serviceImage" class="img-center" alt="Alternate Text" />
                                    <h6 class="text-center" style="color:red"> @item.serviceName</h6>
                                </div>
                            }
                        </div>
                        <p style="color:red" id="service-error"></p>

                        <hr class="my-4">
                        <button class="btn btn-lg btn-danger btn-block text-uppercase" onclick="loginService()" type="button">Bắt đầu đánh giá</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var serviceCode = "";
    function chooseService(item) {
        var element = $('[data-id=' + item + ']');
        serviceCode = item;
        console.log(serviceCode)
        if (element.css('background-color') != 'rgba(0, 0, 0, 0)') {
            element.css('background-color', 'transparent');
        } else {
            element.css('background-color', 'white');
        }
    }

    function setErrorById(id, errorMsg) {
        document.getElementById(id).innerText = errorMsg;
    }

    function loginService() {
        var passcode = $('#inputPassword').val();
        console.log(passcode);
        console.log(serviceCode)

        if (passcode == null || passcode == undefined || passcode.length == 0) {
            setErrorById('passcode-error', 'Vui lòng nhập passcode');
            return;
        } else {
            setErrorById('passcode-error', '');
        }
        if (serviceCode.length == 0) {
            setErrorById('service-error', 'Vui lòng chọn dịch vụ');
            return;
        }else {
            setErrorById('service-error', '');
        }

            $.ajax({
            type: "POST",
            url: "@Url.Action("Login")",
            data: { serviceCode: serviceCode, passCode: passcode},
            dataType: "text",
            success: function (msg) {
                window.location.href = "/rating/rate";
            },
            error: function (req, status, error) {
                setErrorById('passcode-error', 'Vui lòng kiểm tra lại passcode');
            }
        });
    }
</script>